<h2>Products Index</h2>

<% if current_user && current_user.admin %>
  <h4>Products to see</h4>
  <% if @products.any? %>
    <ul>
      <% @products.each do |prod| %>
        <li><%= link_to prod.name, product_path(prod)%> -- $<%= prod.cost %> <%= link_to "Edit", edit_product_path(prod.id), :class => "btn btn-info"%></h4></li>
        <% if prod.reviews.any? %>
          <ul>
            <% prod.reviews.each do |rev| %>
              <li><%= rev.content %> - <%= rev.rating %> <%= link_to "Delete", product_review_path(prod.id, rev.id),
                                      :data => {:confirm => "Are you certain?",
                                      :method => "delete"}, :class => "btn btn-danger"%></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  <%= link_to "Add a new Product", new_product_path %>
<% elsif current_user %>
  <h4>Products:</h4>
  <h5>If you would like to review any of our products just click it.</h5>
  <% if @products.any? %>
    <ul>
      <% @products.each do|prod| %>
        <li><%= link_to prod.name, product_path(prod)%> / $ <%= prod.cost %></h4></li>
        <% if prod.reviews.any? %>
          <ul>
            <% prod.reviews.each do |rev| %>
              <li><%= rev.content %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% else %>
<h4>Products to see</h4>
  <% if @products.any? %>
    <ul>
      <% @products.each do|prod| %>
        <li><%= link_to prod.name, product_path(prod)%> - $<%= prod.cost %></h4></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
